:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b3b3b;
  background-color: rgb(192, 67, 9);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #3b3b3b;
}

.portada, .bar, .bar2 {
  max-width: calc(33.33% - 20px);
  margin: 10px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px #3b3b3b;
}

.tituloInicial {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ingredientes {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.preparado {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.nombreCocktail {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.paginationResponsive {
  flex-wrap: wrap;
  justify-content: center;
}

.buscador {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  margin-left: 1rem;
}

footer {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #3b3b3b;
  background-color: brown;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #3b3b3b;
}

.card{  
  width: calc(100% - 20px);
  background-color: rgba(192, 67, 9, 0.407);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3b3b3b;
  box-shadow: 0 0 20px #3b3b3b;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing{
  background-image: url('./assets/img/Landing.jpg');
  background-repeat:space;
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 0 0 20px #3b3b3b;
  border: 1px solid #3b3b3b;
}

.btn {
  display: flex;
  background-color: rgb(192, 67, 9);
  color: white;
  border-radius: 5px;
  border: 1px solid #3b3b3b;
  box-shadow: 0 0 20px #3b3b3b;
  font-weight: bold;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20%;
  font-size: 4.5rem;

  &:hover {
    background-color: #fffdfd;
    color: rgb(192, 67, 9);
    border: 1px solid rgb(192, 67, 9);
    box-shadow: 0 0 20px rgb(192, 67, 9);
  }
}

@media screen and (max-width: 2560px) {
  .card {
    max-width: calc(25% - 20px);
  }

  .nombreCocktail {
    font-size: 2.5rem;
  }

  .tituloInicial {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1440px) {
  .card {
    max-width: calc(100%/ 4 - 20px);
  }

  .nombreCocktail {
    font-size: 2rem;
  }

  .tituloInicial {
    font-size: 3rem;
  }
  
}

@media screen and (max-width: 1024px) {
  .card {
    max-width: calc(33.33% - 20px);
  }
  .nombreCocktail {
    font-size: 1.5rem;
  }

  .tituloInicial {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    max-width: calc(50% - 20px);
  }

  .nombreCocktail {
    font-size: 1.5rem;
  }

  .tituloInicial {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .card {
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 320px) {
  .card {
    max-width: calc(100% - 20px);
  }
  
}
